



    <div class="kt-content  kt-grid__item kt-grid__item--fluid " id="kt_content">

        <div class="kt-portlet kt-portlet--mobile ">

            <div class="kt-portlet__body align-items-center ">


                <div class="form-horizontal col-md-6 ">
                    <br /><br />

                    <h1>information collected, thank you very much!</h1>
                    <hr />




                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <script src="~/assets/js/programacion/list.js"></script>

}


